#결측치를 찾는 여러 방법

## 1.info로 결측치 찾기

In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install gdrive_dataset

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gdrive_dataset
  Downloading gdrive_dataset-0.0.6-py3-none-any.whl (2.1 kB)
Requirement already satisfied: googledrivedownloader in /usr/local/lib/python3.7/dist-packages (from gdrive_dataset) (0.4)
Installing collected packages: gdrive-dataset
Successfully installed gdrive-dataset-0.0.6

In [3]:
from gdrivedataset import loader
file_id = '15qA4X0jTAhYUyiW-rq81rQGXWCC7_CSB'
loader.load_from_google_drive(file_id)

Downloading 15qA4X0jTAhYUyiW-rq81rQGXWCC7_CSB into ./dataset.zip... Done.
========== files ============

data/train.csv
data/sample_submission.csv
data/test.csv

=============================

In [4]:
!unzip -qq '/content/dataset.zip' # 압축파일 경로

In [5]:
test_df = pd.read_csv('test.csv')

In [6]:
train_df = pd.read_csv('train.csv')

In [7]:
train_df

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,ProdTaken
0,1,28.0,Company Invited,1,10.0,Small Business,Male,3,4.0,Basic,3.0,Married,3.0,0,1,0,1.0,Executive,20384.0,0
1,2,34.0,Self Enquiry,3,NaN,Small Business,Female,2,4.0,Deluxe,4.0,Single,1.0,1,5,1,0.0,Manager,19599.0,1
2,3,45.0,Company Invited,1,NaN,Salaried,Male,2,3.0,Deluxe,4.0,Married,2.0,0,4,1,0.0,Manager,NaN,0
3,4,29.0,Company Invited,1,7.0,Small Business,Male,3,5.0,Basic,4.0,Married,3.0,0,4,0,1.0,Executive,21274.0,1
4,5,42.0,Self Enquiry,3,6.0,Salaried,Male,2,3.0,Deluxe,3.0,Divorced,2.0,0,3,1,0.0,Manager,19907.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1950,1951,28.0,Self Enquiry,1,10.0,Small Business,Male,3,5.0,Basic,3.0,Single,2.0,0,1,1,2.0,Executive,20723.0,0
1951,1952,41.0,Self Enquiry,3,8.0,Salaried,Female,3,3.0,Super Deluxe,5.0,Divorced,1.0,0,5,1,1.0,AVP,31595.0,0
1952,1953,38.0,Company Invited,3,28.0,Small Business,Female,3,4.0,Basic,3.0,Divorced,7.0,0,2,1,2.0,Executive,21651.0,0
1953,1954,28.0,Self Enquiry,3,30.0,Small Business,Female,3,5.0,Deluxe,3.0,Married,3.0,0,1,1,2.0,Manager,22218.0,0
1954,1955,22.0,Company Invited,1,9.0,Salaried,Male,2,4.0,Basic,3.0,Divorced,1.0,1,3,0,0.0,Executive,17853.0,1

In [8]:
test_df

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,32.0,Company Invited,3,NaN,Small Business,Male,2,5.0,Deluxe,3.0,Married,1.0,0,2,0,1.0,Manager,19668.0
1,2,46.0,Self Enquiry,2,11.0,Small Business,Male,3,NaN,Deluxe,4.0,Married,1.0,1,5,0,1.0,Manager,20021.0
2,3,37.0,Self Enquiry,3,22.0,Small Business,Male,3,4.0,Deluxe,3.0,Married,5.0,0,5,1,0.0,Manager,21334.0
3,4,43.0,Self Enquiry,1,36.0,Small Business,Male,3,6.0,Deluxe,3.0,Unmarried,6.0,0,3,1,2.0,Manager,22950.0
4,5,25.0,Self Enquiry,3,7.0,Large Business,Female,4,4.0,Basic,4.0,Unmarried,3.0,1,4,1,3.0,Executive,21880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2928,2929,54.0,Self Enquiry,1,6.0,Small Business,Female,2,3.0,Super Deluxe,3.0,Single,7.0,0,4,1,1.0,AVP,32328.0
2929,2930,33.0,Self Enquiry,1,9.0,Small Business,Fe Male,4,2.0,Deluxe,3.0,Unmarried,2.0,0,3,0,1.0,Manager,23733.0
2930,2931,33.0,Company Invited,1,31.0,Salaried,Male,4,4.0,Deluxe,3.0,Divorced,3.0,0,4,1,1.0,Manager,23987.0
2931,2932,26.0,Self Enquiry,1,9.0,Small Business,Male,4,2.0,Basic,5.0,Unmarried,2.0,0,2,1,3.0,Executive,22102.0
2932,2933,31.0,Self Enquiry,1,9.0,Salaried,Male,3,5.0,Deluxe,3.0,Divorced,3.0,0,4,1,1.0,Manager,22830.0

In [9]:
print(train_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1955 entries, 0 to 1954
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1955 non-null   int64
 1   Age                       1861 non-null   float64
 2   TypeofContact             1945 non-null   object
 3   CityTier                  1955 non-null   int64
 4   DurationOfPitch           1853 non-null   float64
 5   Occupation                1955 non-null   object
 6   Gender                    1955 non-null   object
 7   NumberOfPersonVisiting    1955 non-null   int64
 8   NumberOfFollowups         1942 non-null   float64
 9   ProductPitched            1955 non-null   object
 10  PreferredPropertyStar     1945 non-null   float64
 11  MaritalStatus             1955 non-null   object
 12  NumberOfTrips             1898 non-null   float64
 13  Passport                  1955 non-null   int64
 14  PitchSatisfactionScore    1955 non-null   int64
 15  OwnCar                    1955 non-null   int64
 16  NumberOfChildrenVisiting  1928 non-null   float64
 17  Designation               1955 non-null   object
 18  MonthlyIncome             1855 non-null   float64
 19  ProdTaken                 1955 non-null   int64
dtypes: float64(7), int64(7), object(6)
memory usage: 305.6+ KB
None

In [10]:
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2933 entries, 0 to 2932
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        2933 non-null   int64
 1   Age                       2801 non-null   float64
 2   TypeofContact             2918 non-null   object
 3   CityTier                  2933 non-null   int64
 4   DurationOfPitch           2784 non-null   float64
 5   Occupation                2933 non-null   object
 6   Gender                    2933 non-null   object
 7   NumberOfPersonVisiting    2933 non-null   int64
 8   NumberOfFollowups         2901 non-null   float64
 9   ProductPitched            2933 non-null   object
 10  PreferredPropertyStar     2917 non-null   float64
 11  MaritalStatus             2933 non-null   object
 12  NumberOfTrips             2850 non-null   float64
 13  Passport                  2933 non-null   int64
 14  PitchSatisfactionScore    2933 non-null   int64
 15  OwnCar                    2933 non-null   int64
 16  NumberOfChildrenVisiting  2894 non-null   float64
 17  Designation               2933 non-null   object
 18  MonthlyIncome             2800 non-null   float64
dtypes: float64(7), int64(6), object(6)
memory usage: 435.5+ KB
None

info를 통해 대략적인 결측치 존재 확인

결측치 처리 가이드 라인

10% 미만 : 삭제 or 대치

10% ~ 50% : regression or model based imputation

50% 이상 : 해당 컬럼(변수) 자체 제거

## 2.isna 이용

isna/isnull을 쓸때 결측값이면 true 아니면 false

## 3.INSNA.SUM을 이용한 결측값 갯수 구하기

In [11]:
import pandas as pd

df = pd.DataFrame(
    [(1,2,None),
    (None,4,None),
    (5,None,7),
    (5,None,None)],
    columns=['a','b','d'],
    index = ['A', 'B','C','D'])

In [13]:
df

     a    b    d
A  1.0  2.0  NaN
B  NaN  4.0  NaN
C  5.0  NaN  7.0
D  5.0  NaN  NaN

In [14]:
#행을 기준
print('NaN occurrences in Columns:')
print(df.isnull().sum(axis = 0))
#열을 기준
print('NaN occurrences in Rows:')
print(df.isnull().sum(axis = 1))

NaN occurrences in Columns:
a    1
b    2
d    3
dtype: int64
NaN occurrences in Rows:
A    1
B    2
C    1
D    2
dtype: int64

약간의 변형을 주어서 전체 갯수로 나누어 비율을 구할 수 있다.

In [18]:
train_df.isna().sum()/len(train_df)

id                          0.000000
Age                         0.048082
TypeofContact               0.005115
CityTier                    0.000000
DurationOfPitch             0.052174
Occupation                  0.000000
Gender                      0.000000
NumberOfPersonVisiting      0.000000
NumberOfFollowups           0.006650
ProductPitched              0.000000
PreferredPropertyStar       0.005115
MaritalStatus               0.000000
NumberOfTrips               0.029156
Passport                    0.000000
PitchSatisfactionScore      0.000000
OwnCar                      0.000000
NumberOfChildrenVisiting    0.013811
Designation                 0.000000
MonthlyIncome               0.051151
ProdTaken                   0.000000
dtype: float64

여기서 결측치가 없는 것을 뺀디면

In [21]:
round(train_df.isna().sum()[train_df.isna().sum()>0]/len(train_df),3)

Age                         0.048
TypeofContact               0.005
DurationOfPitch             0.052
NumberOfFollowups           0.007
PreferredPropertyStar       0.005
NumberOfTrips               0.029
NumberOfChildrenVisiting    0.014
MonthlyIncome               0.051
dtype: float64

#결측치를 처리하는 여러 가지 방법

1. 결측값인 채로 처리: GBDT모델 처럼 결측값인 채로 모델링 가능한 모델이 있다. 

2. zero imputation :  0으로 대치한다.

3. constant imputation : 지정한 상수로 대치한다.

4. 대표값으로 채우기 : 평균값, 중앙값, 최빈값 등을 구해서 대치한다. 하지만 결측값이 랜덤하게 발생하는 경우가 아니면 적절한 방법은 아니다.

5. 단순확률대치법: 관련된 비슷한 데이터 셋에서 랜덤하게 선택한다.

6. 다른 변수들로부터 모델을 만들어서 결측값 예측(knn,dnn,stochastic regression, extrapolation&interpolation)

7. 결측값으로 새로운 특징 만들기 : 0,1 혹은 행마다 결측값이 있는 변수의 수를 카운팅한다.

##1.GBDT모델, xgboost 모델

gbdt 모델이란?

GBM은 회귀분석 또는 분류 분석을 할 수 있는 예측 모형이며, 앙상블 방법론 중 부스팅 계열에 속하는 알고리즘을 의미

Tabular format(정형데이터, 즉 table로 나타낼 수 있는 데이터)에 대한 예측에서 성능이 뛰어남. 그리고 머신러닝 알고리즘 중에서도 가장 예측이 높다.

gbdt 모델은 결측치를 처리하는 별도의 모델이 없으며, 
gbm에서 파생된 XGBoost모델은 스스로 결측치 처리 전략을 학습한다.

##2. zero imputation
결측치를 구하기위해서는 copy를 사용해서 새로운 객체를 생성해야 한다.

    fillna(0)

을 이용해서 0으로 맞춘다.

In [22]:
train_df_cp_zero = train_df.copy()
test_df_cp_zero = test_df.copy()

In [24]:
train_df_cp_zero = train_df_cp_zero.fillna(0)
train_df_cp_zero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1955 entries, 0 to 1954
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1955 non-null   int64
 1   Age                       1955 non-null   float64
 2   TypeofContact             1955 non-null   object
 3   CityTier                  1955 non-null   int64
 4   DurationOfPitch           1955 non-null   float64
 5   Occupation                1955 non-null   object
 6   Gender                    1955 non-null   object
 7   NumberOfPersonVisiting    1955 non-null   int64
 8   NumberOfFollowups         1955 non-null   float64
 9   ProductPitched            1955 non-null   object
 10  PreferredPropertyStar     1955 non-null   float64
 11  MaritalStatus             1955 non-null   object
 12  NumberOfTrips             1955 non-null   float64
 13  Passport                  1955 non-null   int64
 14  PitchSatisfactionScore    1955 non-null   int64
 15  OwnCar                    1955 non-null   int64
 16  NumberOfChildrenVisiting  1955 non-null   float64
 17  Designation               1955 non-null   object
 18  MonthlyIncome             1955 non-null   float64
 19  ProdTaken                 1955 non-null   int64
dtypes: float64(7), int64(7), object(6)
memory usage: 305.6+ KB

##3.constant imputation : 지정한 상수로 대치한다.

In [25]:
train_df_cp_co = train_df.copy()
test_df_cp_co = test_df.copy()

In [26]:
train_df_cp_co = train_df_cp_co.fillna(1)

In [27]:
train_df_cp_co.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1955 entries, 0 to 1954
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1955 non-null   int64
 1   Age                       1955 non-null   float64
 2   TypeofContact             1955 non-null   object
 3   CityTier                  1955 non-null   int64
 4   DurationOfPitch           1955 non-null   float64
 5   Occupation                1955 non-null   object
 6   Gender                    1955 non-null   object
 7   NumberOfPersonVisiting    1955 non-null   int64
 8   NumberOfFollowups         1955 non-null   float64
 9   ProductPitched            1955 non-null   object
 10  PreferredPropertyStar     1955 non-null   float64
 11  MaritalStatus             1955 non-null   object
 12  NumberOfTrips             1955 non-null   float64
 13  Passport                  1955 non-null   int64
 14  PitchSatisfactionScore    1955 non-null   int64
 15  OwnCar                    1955 non-null   int64
 16  NumberOfChildrenVisiting  1955 non-null   float64
 17  Designation               1955 non-null   object
 18  MonthlyIncome             1955 non-null   float64
 19  ProdTaken                 1955 non-null   int64
dtypes: float64(7), int64(7), object(6)
memory usage: 305.6+ KB

##4.평균값으로 대체해라

### df.mean으로 평균 구하기. 그냥 해당 칼럼의 평균을 구해서 결측치에 집어 넣기

In [33]:
train_df_cp_mean = train_df.copy()
test_df_cp_frequent = test_df.copy()
test_df_cp_co = test_df.copy()

In [34]:
train_df_cp_mean = train_df_cp_mean.fillna(train_df_cp_mean.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [35]:
train_df_cp_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1955 entries, 0 to 1954
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1955 non-null   int64
 1   Age                       1955 non-null   float64
 2   TypeofContact             1945 non-null   object
 3   CityTier                  1955 non-null   int64
 4   DurationOfPitch           1955 non-null   float64
 5   Occupation                1955 non-null   object
 6   Gender                    1955 non-null   object
 7   NumberOfPersonVisiting    1955 non-null   int64
 8   NumberOfFollowups         1955 non-null   float64
 9   ProductPitched            1955 non-null   object
 10  PreferredPropertyStar     1955 non-null   float64
 11  MaritalStatus             1955 non-null   object
 12  NumberOfTrips             1955 non-null   float64
 13  Passport                  1955 non-null   int64
 14  PitchSatisfactionScore    1955 non-null   int64
 15  OwnCar                    1955 non-null   int64
 16  NumberOfChildrenVisiting  1955 non-null   float64
 17  Designation               1955 non-null   object
 18  MonthlyIncome             1955 non-null   float64
 19  ProdTaken                 1955 non-null   int64
dtypes: float64(7), int64(7), object(6)
memory usage: 305.6+ KB

### transform을 이용해서 평균구하기-- 특정 칼럼을 기준으로 평균을 구하는 방법

In [37]:
test_df_cp_co['MonthlyIncome'] = test_df_cp_co['MonthlyIncome'].fillna(test_df_cp_co.groupby('Designation')['MonthlyIncome'].transform('mean'))

In [38]:
test_df_cp_co.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2933 entries, 0 to 2932
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        2933 non-null   int64
 1   Age                       2801 non-null   float64
 2   TypeofContact             2918 non-null   object
 3   CityTier                  2933 non-null   int64
 4   DurationOfPitch           2784 non-null   float64
 5   Occupation                2933 non-null   object
 6   Gender                    2933 non-null   object
 7   NumberOfPersonVisiting    2933 non-null   int64
 8   NumberOfFollowups         2901 non-null   float64
 9   ProductPitched            2933 non-null   object
 10  PreferredPropertyStar     2917 non-null   float64
 11  MaritalStatus             2933 non-null   object
 12  NumberOfTrips             2850 non-null   float64
 13  Passport                  2933 non-null   int64
 14  PitchSatisfactionScore    2933 non-null   int64
 15  OwnCar                    2933 non-null   int64
 16  NumberOfChildrenVisiting  2894 non-null   float64
 17  Designation               2933 non-null   object
 18  MonthlyIncome             2933 non-null   float64
dtypes: float64(7), int64(6), object(6)
memory usage: 435.5+ KB

##5. KNNIMPUTER

In [43]:
train_df_cp_knn = train_df.copy()
test_df_cp_knn = test_df.copy()

In [39]:
import sklearn

In [44]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
train_df_cp_knn = imputer.fit_transform(train_df_cp_knn)
#오류는 뒤에서 말씀하신 string값이 label encoding이 안되서 발생
#일단 다른 예제를 들어보자.

ValueError: ignored

In [45]:
Data = {'first' : [100,80,np.nan,65],
        'second' : [20,55,76,np.nan],
        'third' : [np.nan, 70,60,88]}
data = pd.DataFrame(Data)

In [46]:
data

   first  second  third
0  100.0    20.0    NaN
1   80.0    55.0   70.0
2    NaN    76.0   60.0
3   65.0     NaN   88.0

In [48]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
data_filled = imputer.fit_transform(data)
pd.DataFrame(data_filled)

       0     1     2
0  100.0  20.0  79.0
1   80.0  55.0  70.0
2   72.5  76.0  60.0
3   65.0  65.5  88.0