#8월 9일

#1. 드라이브에 저장된 파일 가저오기

In [4]:
!pip install gdrive_dataset

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gdrive_dataset
  Downloading gdrive_dataset-0.0.6-py3-none-any.whl (2.1 kB)
Requirement already satisfied: googledrivedownloader in /usr/local/lib/python3.7/dist-packages (from gdrive_dataset) (0.4)
Installing collected packages: gdrive-dataset
Successfully installed gdrive-dataset-0.0.6

In [5]:
from gdrivedataset import loader
file_id = '15qA4X0jTAhYUyiW-rq81rQGXWCC7_CSB'
loader.load_from_google_drive(file_id)

Downloading 15qA4X0jTAhYUyiW-rq81rQGXWCC7_CSB into ./dataset.zip... Done.
========== files ============

data/sample_submission.csv
data/train.csv
data/test.csv

=============================

#2. 라이브러리 설치

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets

#3.우선 각 데이터를 살펴보자

##test data

In [13]:

!unzip -qq '/content/dataset.zip' # 압축파일 경로

In [15]:
test_df = pd.read_csv('test.csv')
test_df.describe()

,id,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
count,2933.000000,2801.000000,2933.000000,2784.00000,2933.000000,2901.000000,2917.000000,2850.000000,2933.000000,2933.000000,2933.000000,2894.000000,2800.000000
mean,1467.000000,37.728668,1.662803,15.46875,2.893283,3.701827,3.589304,3.223860,0.290829,3.085237,0.620866,1.170007,23617.034286
std,846.828495,9.399578,0.921827,8.75837,0.733062,1.001564,0.801231,1.871736,0.454222,1.361211,0.485254,0.856515,5202.476652
min,1.000000,18.000000,1.000000,5.00000,1.000000,1.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,4678.000000
25%,734.000000,31.000000,1.000000,9.00000,2.000000,3.000000,3.000000,2.000000,0.000000,2.000000,0.000000,1.000000,20295.750000
50%,1467.000000,36.000000,1.000000,13.00000,3.000000,4.000000,3.000000,3.000000,0.000000,3.000000,1.000000,1.000000,22369.500000
75%,2200.000000,44.000000,3.000000,20.00000,3.000000,4.000000,4.000000,4.000000,1.000000,4.000000,1.000000,2.000000,25580.000000
max,2933.000000,61.000000,3.000000,127.00000,5.000000,6.000000,5.000000,22.000000,1.000000,5.000000,1.000000,3.000000,38677.000000

In [26]:
test_df.columns

Index(['id', 'Age', 'TypeofContact', 'CityTier', 'DurationOfPitch',
       'Occupation', 'Gender', 'NumberOfPersonVisiting', 'NumberOfFollowups',
       'ProductPitched', 'PreferredPropertyStar', 'MaritalStatus',
       'NumberOfTrips', 'Passport', 'PitchSatisfactionScore', 'OwnCar',
       'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [30]:
len(test_df.columns)

19

##train data

In [34]:
train_df = pd.read_csv('train.csv')
train_df.describe()

,id,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome,ProdTaken
count,1955.000000,1861.000000,1955.000000,1853.000000,1955.000000,1942.000000,1945.000000,1898.000000,1955.000000,1955.000000,1955.000000,1928.000000,1855.000000,1955.000000
mean,978.000000,37.462117,1.641432,15.524015,2.922762,3.718332,3.568638,3.255532,0.291049,3.067519,0.619437,1.213174,23624.108895,0.195908
std,564.504207,9.189948,0.908744,8.150057,0.712276,1.004095,0.793196,1.814698,0.454362,1.372915,0.485649,0.859450,5640.482258,0.397000
min,1.000000,18.000000,1.000000,5.000000,1.000000,1.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1000.000000,0.000000
25%,489.500000,31.000000,1.000000,9.000000,2.000000,3.000000,3.000000,2.000000,0.000000,2.000000,0.000000,1.000000,20390.000000,0.000000
50%,978.000000,36.000000,1.000000,14.000000,3.000000,4.000000,3.000000,3.000000,0.000000,3.000000,1.000000,1.000000,22295.000000,0.000000
75%,1466.500000,43.000000,3.000000,20.000000,3.000000,4.000000,4.000000,4.000000,1.000000,4.000000,1.000000,2.000000,25558.000000,0.000000
max,1955.000000,61.000000,3.000000,36.000000,5.000000,6.000000,5.000000,19.000000,1.000000,5.000000,1.000000,3.000000,98678.000000,1.000000

In [32]:
train_df.columns

Index(['id', 'Age', 'TypeofContact', 'CityTier', 'DurationOfPitch',
       'Occupation', 'Gender', 'NumberOfPersonVisiting', 'NumberOfFollowups',
       'ProductPitched', 'PreferredPropertyStar', 'MaritalStatus',
       'NumberOfTrips', 'Passport', 'PitchSatisfactionScore', 'OwnCar',
       'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome',
       'ProdTaken'],
      dtype='object')

In [33]:
len(train_df.columns)

20

##sample_submission

In [37]:
sample_submission_df = pd.read_csv('sample_submission.csv')
sample_submission_df.describe()

                id  ProdTaken
count  2933.000000     2933.0
mean   1467.000000        0.0
std     846.828495        0.0
min       1.000000        0.0
25%     734.000000        0.0
50%    1467.000000        0.0
75%    2200.000000        0.0
max    2933.000000        0.0

In [40]:
sample_submission_df.columns

Index(['id', 'ProdTaken'], dtype='object')

In [41]:
len(sample_submission_df.columns)

2

###오늘 알게된 점

1.코랩에서 드라이브에 저장된 데이터를 가저오는 방법을 알게되었다.

2.각 데이터를 판다스를 사용해서 좀 더 구체적으로 접근하는 방법을 알게되었다.